<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link type="text/css" rel="stylesheet" href="css.bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div th:fragment="header">
<nav class="navbar fixed-top navbar-light" style="background-color: #e2ebf0;">
<div class="container-fluid">
	<a href="/booklist" class="navbar-brand">Book Store</a>
	<form class="d-flex" th:action="@{/logout}" method="post">
    <span class="navbar-text">Welcome [[${#httpServletRequest.remoteUser}]]
  	</span>
  	<div style="padding-right: 20px"></div>
	<input type="submit" value="Sign Out" class="btn btn-outline-danger"/>
</form>
</div>
</nav>
<div style="padding-top: 80px"></div>
</div>
<body>
</body>
</html>