<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link type="text/css" rel="stylesheet" href="css.bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<title>Book Store</title>
</head>
<div th:replace="/header :: header"></div>
<body style="background-color: #e6e9f0">

	<script>
	$(document).ready(function() {
	    $('#example').DataTable();
	} );
	</script>

   <div class="container">
	<div class="row gy-2">
	<div class="col-3">
	<p class="fs-4">Popular books to read</p>
	<p class="fs-6" sec:authorize="hasAuthority('ADMIN')">You can add, edit or delete a book from the database</p>
	<a href="/add" class="btn btn-outline-primary">Add a book</a>
	</div>
	</div>
	<div style="padding-top: 20px"></div>
	<table class="table" id="example">
		<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Category</th>
			<th></th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each= "book : ${books}">
			<td th:text="${book.title}">title</td>
			<td th:text="${book.author}">author</td>
			<td th:text="${book.year}">year</td>
			<td th:text="${book.isbn}">isbn</td>
			<td th:text="${book.category.name}"></td> 	
			<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-outline-primary">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletebook/{id}(id=${book.id})}" class="btn btn-danger"><b>Delete</b></a></td>
		</tr>	
		</tbody>
		<tfoot>
        <tr>
            <th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Category</th>
        </tr>
        </tfoot>
	</table>
	</div>
</body>
</html>